@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto&display=swap');
*{
    box-sizing: border-box;
     margin: 0px;
    padding: 0px;
   
}
body{
    width: 1440px;
    font-family: 'Roboto' ,sans-serif;
font-style: normal;
font-weight: normal;

}

header{
    background-color: #f8f8f8;
    height: 130px;   
}

label{
    font-size: 26px;
    margin-left: 50px;
    font-weight:bold;
    display: none;
   
}
   


#toggle{
    display:none;
}    
  


.nav-head{
    display: flex;
    padding: 25px 10%;
    justify-content:flex-end;
    
}
    
li,a{
    color:#000000;
    text-decoration: none;
    font-size: 30px;
    list-style: none;
}
    
.navbar li{
    display:inline-block;
    padding: 15px 0px;
    margin-right: 45px;
}
  
.btn1{
padding: 18px 20px;
background: linear-gradient(93.58deg, #3FC7F4 0%, #29B67F 100%);
border: none;
border-radius: 6.88356px;
color: #FFFFFF;
font-size: 30px;
line-height: 40px;
margin-right: 20px;
}
    
   

   

.flex{
    display: flex;
    flex-wrap: wrap;
    flex: 100%;
}
   
.showcase{
    height: 550px;
}
    
.showcase-text{
    width: 40%;
} 
    
.showcase h1{
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    text-transform: uppercase;
    color: #172233;  
    height: 186.5px; 
    margin-left: 130px;
    margin-top: 94px;
    }
   
.text-1{
    font-weight: 400px;
font-size: 30px;
line-height: 38px;
color: #828282;
margin-left: 135px;
height: 50.79px;
}
     
.showcase-form{
    margin-left: 180px;
    margin-top: 51.47px;
  background: #FFFDFD;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  height:483px ;
  width:35% ;
  position:relative;
}
.showcase h2{
    font-weight: 400;
font-size: 40px;
line-height: 47px;
text-align: center;
height: 51px;
color: #172233;
margin-top: 35px;
margin-left:10px;
}

.showcase-form .form-list{
    margin: 38.12px 0;
    margin-left:60px;
    height: 25px;
}

::placeholder{
    font-weight: 500;
    line-height: 21px;
    height: 21px;
    text-transform: capitalize;
    color: #828282;
}
    
.form-list input[type='number'],
.form-list input[type='email'],
.form-list input[type='password']{
    border: none;
    border-bottom: 2px solid #828282;
    width: 376.96px;
    padding: 5px;
    font-size: 18px;
}
   
.showcase-form input:focus{
    outline: none;
}

.btn{
  padding: 6px 53px;
  border: none;
  border-radius: 6.88356px;
  height: 40px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* border-radius: 5px; */
  color: #FFFFFF;
  margin-left:60px; 

}

.btn2{
    background: #C4C4C4;
    
}

.btn3{
   background: linear-gradient(93.58deg, #3FC7F4 0%, #29B67F 100%);
   margin-left: 5px;
}   

.sign-in{
    font-weight: 400px;
    font-size: 20px;
    line-height: 23px;
    margin-left:60px;
    height: 23px;
    margin-top: 15px;
}
   
 
.flex-container{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex: 100%;
}
   
.dummy-images{
    margin-left: 143px;
   margin-right: 164.47px;
   margin-top: 120px;
   position:relative;
   }
    
   .dummy-images h1{
       width: 440px;
       height: 113px;
       font-weight: 700;
       font-size: 48px;
       line-height: 59px;
       text-transform: capitalize;
       color: #172233;
       margin-top: 10px;
   }

   .dummy-images p{
        width: 462.48px;
   height: 74.38px; 
   font-weight: 400;
   font-size: 30px;
   line-height: 38px;
   color: #828282;
   margin-top: 10px;
   }
    
   .dummy-image-2{
       margin-top:100px ;
   }
   .dummy-image-4{
       margin-top: 110px;
   }

   .image-para-3 ,
   .image-para-4{
       text-align: right;
       margin-left: 60px;
   }
   
   .image-text-3 ,
   .image-text-4{
       text-align: right;
       margin-left: 35px;
   }
   
   .hr{
     position: absolute;
     width: 1080px;
     height: 0px;
     margin-top: 730px;
     margin-left: 160px;
     margin-right: 167.88px;
     border: 1px solid #e8e8e8;   
   } 
   
   .vl {
      position: absolute;
      height: 1250px;
      left:708px ;
      margin-top: 100px;
      border: 1px solid #e8e8e8;
   } 
  
   .flex-container-1{
       display: flex;
       flex-wrap: wrap;
       width: 100%;
       justify-content: space-between;
      }
  
      .showcase-container-1{
          height:500px; 
          background: linear-gradient(100.08deg, #29B67F 0%, #3FC7F4 95.98%);
          margin-top: 50px;
      }
     
      .showcase-text-1{
          width: 48%;
      }
  
      .showcase-text-1 h1{
          font-weight: 700;
  font-size: 51px;
  line-height: 126.19%;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-top:150px;
  margin-left: 153px;
  }
         
  
  .flex-text-1{
      font-weight: 400;
      font-size: 30px;
      line-height: 38px;
      color: #FFFFFF;
      margin-left: 153px;
      margin-top: 0px;
      }
      
  .flex-image-1{
      position: relative;
      margin-top:20px;
      margin-right: 180px;
      background-color: #FFFFFF;
      border-radius: 100%;
  }
      
  .photo-image-1{
      height: 450px;
      width: 450px;
   margin-top: 10px; 
  margin-left: 20px;
  } 
      
  .flex-container-2{
      height: 430px;
      width: 100%;
       display: flex; 
      flex-wrap: wrap; 
  }
  
  .flex-para-2 {
      width: 865px;
  height: 67px;
  margin-left: 270px;
  margin-top: 40px;
  font-weight: 700;
  font-size: 52px;
  line-height: 126.19%;
  text-align: center;
  text-transform: uppercase;
  color: #828282;
  }
  
  .flex-text-2{
      height:94px;
      width: 827px;
      font-size: 30px;
  line-height: 38px;
  text-align: center;
  margin-top: 30px;
  margin-left:270px ;
  color: #828282;
  }
  
  .btn4{
      padding: 6px 53px;
      border: none;
      border-radius: 6.88356px;
      font-weight: 400px;
      font-size: 30px;
      line-height: 40px;
      margin-top: 20px;
      margin-left: 600px;
      color: #FFFFFF;
      background: linear-gradient(93.58deg, #3FC7F4 0%, #29B67F 100%);
  }

  .flex-container-3{
      display: flex;
      justify-content: space-between;
  } 
  
      .showcase-container-3{
          width: 100%;
          background: linear-gradient(101.13deg, #090736 1.15%, #172233 98.16%);
      } 
          
      .showcase-text-3 h1{
          font-weight: 700px;
      font-size: 44px;
      line-height: 126.19%;
      color: #FFFFFF;
      margin-top:80px;
      margin-left: 153px;
      }
    
      .showcase-text-3 h2{
          font-weight: 700px;
      font-size: 44px;
      line-height: 126.19%;
      color: #FFFFFF;
      margin-top:80px;
      margin-left: 153px;
      text-transform: uppercase;
      display: none;
      }
    
      .flex-text-3{
          width: 480px;
          font-weight: 400px;
          font-size: 30px;
          line-height: 38px;
          color: #FFFFFF;
          margin-left: 153px;
          margin-top: 10px;
          }
      
          .photo-image-3{
            height:527px;
          }
      
        .flex-image-3{
            margin-top:10px;
            margin-right:170px; 
          }  
         
      #lines{
          margin-top:385px;
      }
          
      .dots{
          display: inline-block;
      }
        
          
      #spray{   
          margin-left: 1262px;
          margin-top: -600px;
          height: 120px; 
      }
      
      .flex-container-4{
          display: flex;
          justify-content: space-between;
          width: 100%;
      }
        
      
      .showcase-container-4{
          background: linear-gradient(282.48deg, #39B7FD -5.5%, #000000 60.76%);
      }
      
      .photo-image-4{
         margin-top: 70px;
         margin-left: 90px;
      
      }
       
      .plus{
          margin-top: 70px;
          margin-left: 30px;
      }
      
      .showcase-text-4 h1{
          width: 596px;
      height: 180px;
      font-weight: 700;
      font-size: 44px;
      line-height: 126.19%;
      color: #FFFFFF;
      margin-top: 20px;
      margin-right: 80px;
      }
          
      .showcase-text-4 h2{
          font-weight: 700;
          font-size: 44px;
          line-height: 126.19%;
          color: #FFFFFF;
          margin-top: 20px;
          margin-right: 80px;
          text-transform: uppercase; 
          display: none;
      }
      
      .flex-text-4{
          width: 480px;
      height: 89px;
      font-weight: 400;
      font-size: 30px;
      line-height: 38px;
      margin-top: 0px;
      margin-right: 100px;
      color: #FFFFFF;
      }
      
      .circle{
          margin-left: 470px;
          margin-top: 50px;
      }
      
      .wave{
          position: absolute;
          margin-top: 0px;
          margin-left: 198px;
      }
      
      .right-arrow{
          margin-top:60px;
          margin-left: 1100px;
      }
      
      footer{
          height: 200px;
          background: #F6F6F6;
          
      }
      
      .footer-section{
         display: flex;
         width: 100%;
          justify-content: space-between;
         }
          
         .copyright{
             font-weight: 400;
             font-size: 18px;
             line-height: 131.19%;
             margin-top: 105px;
             margin-left:120px ;
             color: #757575;
             }
   
             .col-2 p{
                display: inline-block;
                height: 31px;
                margin-top:80px ;
                font-weight: 400;
            font-size: 24px;
            line-height: 131.19%;
            color: #757575;
            } 
            .privacy{
                margin-left: -20px;
            }
            .terms-conditions {
                margin-left:25px ;
            } 
            .col-2 .tandc{
                display: none;
            }
              
            .refund{
                margin-left: 25px;
            }
          
            .footer-image{
                margin-top:75px ;
                margin-right: 130px;
            }


            @media screen and (max-width:500px){
            body{
                font-size: 16px;
                max-width: 500px;
                overflow-x: hidden;
            }
              header{
                max-height: 90px;
            }
            .nav-head{
                display:inline;
             } 
             .navbar li {
                 display: none;
                }   
                .navbar a{
                    display: block;
                } 
                .btn1{
                    max-width: 215.08px;
                    max-height: 56px;
                    font-size: 30px;
                    line-height: 20px;
                    margin-top: -4px;
                    margin-left: 250px;
                } 
                label{
                    position: absolute;
                    top: 25px;
                   display:block;
                }
                #toggle:checked + .navbar a{
                    display:block;
                }
                .showcase{
                    height: 800px;
                }
                .showcase-text{
                    width: 90%;
                    margin-left: 10px;
                }
                .showcase h1{
                    margin-top: 40px;
                    margin-left: 20px;
                    font-size: 45px;
                }
                .text-1{
                    margin-left: 30px;
                }
               .showcase-form{
                   height: 460px;
                   width: 60%;
                   margin-left: 90px;
                   margin-top: 100px;
                   border-radius: 50px;
               } 
               .showcase h2{
                   margin-top: 10px;
                   font-size: 38px;
               }
               .showcase-form .form-list{
                   margin-left: 20px;
                   margin-top: 40px;
                } 
                 
               .form-list input[type='number'],  
               .form-list input[type='email'], 
               .form-list input[type='password']{
            width:250px;
               }
               .btn{
                   padding:3px 25px;
                   height: 35px;
                   font-size: 20px;
                   margin-left: 20px;
                   margin-top: -10px;
               }
               .sign-in{
                   margin-left: 25px;
               }
               .hr,.vl{
                   display: none;
            
               }
                .dummy-image-1{
                   height: 200px;
                   width: 320px;
                   margin-top: -40px;
                   margin-left:75px;
               }
               .dummy-image-2{
                height: 200px;
                width: 320px;
                margin-top: 60px;
                margin-left: 75px;
            }
            .dummy-image-3{
                height: 200px;
                width: 320px;
                margin-top: 60px;
                margin-left:80px;
            }
            .dummy-image-4{
                height: 200px;
                width: 320px;
                margin-top: 60px;
                margin-left: 80px;
            }
            .dummy-images h1{
            text-align:center;
            margin-left: 20px;
            }
            .dummy-images p{
                text-align: center;
                margin-left: 40px;
                width: 400px; 
            }
            .flex-container-1{
                flex-direction: column-reverse; 
            }
            .showcase-container-1{
                height: 730px;
                
            }
            .flex-image-1{
                height: 350px;
                margin-top: 50px;
                margin-left: 70px;
            
            }
                
            .photo-image-1{
                height: 300px;
                width: 340px;
                margin-left:10px;
                margin-top: 15px;
            }
            .showcase-text-1{
            
                text-align: center;
                margin-left: -135px;
                margin-top: -100px;
            }
            .showcase-text-1 h1{
                width: 450px;
                font-size: 45px;
               
            }
            .flex-text-1{
                width: 400px;
                margin-left: 170px;
                
            }
            .flex-container-2{
                width: 100%;
                 height: 450px; 
            }
            .flex-para-2{
                width: 450px;
                margin-left:20px;
                font-size: 45px;
            } 
            .flex-text-2{
               width: 400px; 
               margin-left:35px;
               margin-top: 10px;
            }
            .btn4{
                margin-left: 140px;
                margin-top: 60px;
                border-radius:27px ;
            }
            .flex-container-3{
                flex-wrap: wrap;
                flex-direction: column-reverse;
                width: 100%;
            
               
            }
            .photo-image-3{
                height: 400px;
                margin-left: 40px;
                margin-top: 20px;
            }
            
            .showcase-text-3 h1{
                display: none;
            }
            .showcase-text-3 h2{
                display: block;
                width: 450px;
                margin-left: 20px;
                margin-top: 50px;
                text-align: center;
            }
            .flex-text-3{
                width: 400px;
                margin-left: 40px;
                text-align: center;
            }
            .color-lines{
                visibility: hidden;
            }
            #spray{
               visibility: hidden;
            }
              .flex-container-4{
                  flex-wrap: wrap;
                  height: 730px;
              } 
              .circle,.wave,.plus,.right-arrow, .showcase-text-4 h1{
            display: none;
              }
              .photo-image-4{
                  height: 300px;
                  margin-left: 20px;
                  margin-top: 20px;
              }
              .showcase-text-4 h2{
            display: block;
            font-size: 44px;
            width:400px;
            text-align: center;
            margin-left: 50px;
            margin-top: -70px;
            }
            .flex-text-4{
                width: 400px;
                margin-left: 50px;
                text-align: center;  
            }
            .footer-section{
            width: 100%;
                flex-wrap: wrap;
                height: 200px;
            }
            .sec-col-2{
                order: 3;
            }
            .col-1{
            order:2;
            }
            .footer-image{
                margin-left:160px;
                margin-top: 25px;
            }
            .copyright{
              text-align: center;
              margin-left: 70px;
              margin-top: 20px;
            }   
             .col-2 p{
                 width: 100%; 
                 display: inline
                }
                 
                .col-2 .terms-conditions{
                   display: none;
               }
               .privacy{
                   margin-left: 15px;
               }
               .col-2 .tandc{
                   display: inline;
                   margin-left: 100px;
               }
               .refund{
                   margin-left: 80px;
               }
            }
                
            
            
                   
                  
                     
                       
               
            
            
            
                
                   
                  
                    
                 

   



    
    

  

   

           
    

  
               




    
    
     
     
     
     
    


 


       
 
       
    


 




        
      
     

 




  
  





  
  
  





   
    


    
    

  



    
    